@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Josefin+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-Poppins: "Poppins", sans-serif;
  --font-Josefin: "Josefin Sans", sans-serif;
  --color-active-light: #2563eb;
  --color-active-dark: #3b82f6;
}

.dark {
  --color-active-light: #3b82f6;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1771c6;
}

::-webkit-scrollbar-thumb {
  background: #f5f5f5b0;
}

::-webkit-scrollbar-thumb:hover {
  background: #bcaaaab0;
}
/* End of scrollbar styling */

/* Hide the arrows on input number fields */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}
